- if profile.layers.any?
  #profile-layers.tab-pane.fade
    .table-responsive
      %table.table.table-sm.table-hover
        %thead
          %tr
            = tag_with_tooltip layer_tooltip(profile, :identifier) do
              = t '.identifier'
            = tag_with_tooltip layer_tooltip(profile, :top) do
              = t '.top'
            = tag_with_tooltip layer_tooltip(profile, :bottom) do
              = t '.bottom'
            = tag_with_tooltip layer_tooltip(profile, :designation) do
              = t '.designation'
            = tag_with_tooltip layer_tooltip(profile, :bulk_density) do
              = t '.bulk_density'
            = tag_with_tooltip layer_tooltip(profile, :ca_co3) do
              = t '.ca_co3'
            = tag_with_tooltip layer_tooltip(profile, :coarse_fragments) do
              = t '.coarse_fragments'
            = tag_with_tooltip layer_tooltip(profile, :ecec) do
              = t '.ecec'
            = tag_with_tooltip layer_tooltip(profile, :conductivity) do
              = t '.conductivity'
            = tag_with_tooltip layer_tooltip(profile, :organic_carbon) do
              = t '.organic_carbon'
            = tag_with_tooltip layer_tooltip(profile, :ph_h2o_1) do
              = t '.ph_h2o_1'
            = tag_with_tooltip layer_tooltip(profile, :ph_h2o_2_5) do
              = t '.ph_h2o_2_5'
            = tag_with_tooltip layer_tooltip(profile, :ph_kcl_1) do
              = t '.ph_kcl_1'
            = tag_with_tooltip layer_tooltip(profile, :ph_kcl_2_5) do
              = t '.ph_kcl_2_5'
            = tag_with_tooltip layer_tooltip(profile, :clay) do
              = t '.clay'
            = tag_with_tooltip layer_tooltip(profile, :silt) do
              = t '.silt'
            = tag_with_tooltip layer_tooltip(profile, :sand) do
              = t '.sand'
            = tag_with_tooltip layer_tooltip(profile, :water_retention) do
              = t '.water_retention'
        %tbody
          - profile.layers.each do |layer|
            %tr
              %th{ scope: 'row' }= layer.identifier
              %td= layer.top
              %td= layer.bottom
              %td= layer.designation
              %td= layer.bulk_density
              %td= layer.ca_co3
              %td= layer.coarse_fragments
              %td= layer.ecec
              %td= layer.conductivity
              %td= layer.organic_carbon
              %td= layer.ph_h2o_1
              %td= layer.ph_h2o_2_5
              %td= layer.ph_kcl_1
              %td= layer.ph_kcl_2_5
              %td= layer.clay
              %td= layer.silt
              %td= layer.sand
              %td= layer.water_retention
