- content_for :page_title do
  = t '.title'

.row.button-bar
  .col
    = paginate profiles, theme: 'sisinta'

.row.index-header
  - if user_signed_in?
    .col-1
      = t('.selected')
  -# i18n-tasks-use t('activerecord.attributes.profile.country')
  .col-1= Profile.human_attribute_name(:country)
  -# i18n-tasks-use t('activerecord.attributes.profile.source')
  .col= Profile.human_attribute_name(:source)
  -# i18n-tasks-use t('activerecord.attributes.profile.date')
  .col-1= Profile.human_attribute_name(:date)
  -# i18n-tasks-use t('activerecord.attributes.profile.identifier')
  .col-2.text-right= Profile.human_attribute_name(:identifier)

= render profiles

.row.button-bar
  .col-4.offset-8.text-right
    = page_entries_info profiles
