- content_for :page_title do
  = @profile.identifier

#profile-show
  -# Default site navigation
  .row.button-bar
    .col
      .btn-toolbar
        .btn-group.btn-group-sm
          = link_to t('back'), profiles_path, class: 'btn btn-primary'

  -# Profile show navigation with tabs
  .row
    .col
      %nav
        .nav.nav-tabs
          = link_to t('.properties'), '#profile-properties',
            class: 'nav-item nav-link active', data: { toggle: 'tab' }
          - if @profile.layers.any?
            = link_to t('.layers'), '#profile-layers',
              class: 'nav-item nav-link', data: { toggle: 'tab' }
          - if @profile.geolocated?
            = link_to t('.map'), '#profile-map',
              class: 'nav-item nav-link', id: 'map-tab', data: { toggle: 'tab' }

  .tab-content
    = render 'profile_properties', profile: @profile
    = render 'profile_layers', profile: @profile
    = render 'profile_map', profile: @profile

= google_maps_js_tag
