- content_for :page_title do
  = profile.identifier

-# For dynamic height calculation in tabs with maps.
#profile-show
  -# Default site navigation
  .row.button-bar
    .col
      .btn-toolbar
        .btn-group.btn-group-sm.mr-2
          = link_to t('back'), profiles_path, class: 'btn btn-primary'
        - if can? :destroy, @profile
          .btn-group.btn-group-sm.mr-2
            = link_to t('delete'), profile, class: 'btn btn-danger', data: { confirm: t('confirm_delete') }, method: :delete

  -# Profile show navigation with tabs
  .row
    .col
      %nav
        .nav.nav-tabs
          = link_to t('.properties'), '#profile-properties',
            class: 'nav-item nav-link active', data: { toggle: 'tab' }
          - if profile.layers.any?
            = link_to t('.layers'), '#profile-layers',
              class: 'nav-item nav-link', data: { toggle: 'tab' }
          - if profile.geolocated?
            = link_to t('.map'), '#profile-map',
              class: 'nav-item nav-link', id: 'map-tab', data: { toggle: 'tab' }

  .tab-content
    = render 'profile_properties'
    = render 'profile_layers'
    = render 'profile_map'

= google_maps_js_tag
