#import-form.tab-pane.fade.show.active
  = form_for @import, as: :import, url: imports_path, multipart: true do |f|
    - if @import.errors.any?
      .row.import_global_data
        .col
          %h4.text-danger= t '.errors.title'
          - @import.errors.full_messages.each do |error|
            %p.text-danger!= error

    .row.import_global_data
      .col
        %h4= t '.global_data.title'
        %p= t '.global_data.description'

        .form-group.row
          -# FIXME I18n uploader
          %label.col-sm-3{ for: :import_file }= t '.csv_spreadsheet'
          .col-sm-9= f.file_field :file,
            class: 'form-control-file',
            required: true, accept: '.csv'

        .form-group.row
          %label.col-sm-3{ for: :import_type }= t '.type'
          .col-sm-9= f.collection_select :type_id, ProfileType.all, :id, :value, {},
            class: 'form-control'

        .form-group.row
          %label.col-sm-3{ for: :import_country_code }= t '.country_code'
          -# i18n-tasks-use t('helpers.placeholder.import.country_code')
          .col-sm-9= f.select :country_code, country_codes, { include_blank: true },
            class: 'form-control'

        .form-group.row
          %label.col-sm-3{ for: :import_source }= t 'imports.format.desc.source'
          -# i18n-tasks-use t('helpers.placeholder.import.source')
          .col-sm-9= f.text_field :source,
            class: 'form-control', placeholder: true

        .form-group.row
          %label.col-sm-3{ for: :import_contact }= t 'imports.format.desc.contact'
          -# i18n-tasks-use t('helpers.placeholder.import.contact')
          .col-sm-9= f.text_field :contact,
            class: 'form-control', placeholder: true

        .form-group.row
          %label.col-sm-3{ for: :import_license }= t '.license'
          .col-sm-9= f.collection_select :license_id, License.all.decorate, :id, :full_name, {},
            class: 'form-control'

    .row.import_global_data
      .col
        %h4= t '.metadata.title'
        %p= t '.metadata.description'

        - MetadataType::FIELD_NAMES.each do |field|
          .form-group.row
            %label.col-sm-3{ for: field}= field
            .col-sm-9= select_metadata_tag field

    .form-group.row
      .col
        = f.submit t('.import_submit'), class: 'btn btn-primary'
