- content_for :page_title do
  = t '.title'

.row.button-bar
  .col
    .btn-toolbar
      .btn-group.btn-group-sm.mr-2
        = link_to template_imports_path(format: :csv), class: 'btn btn-primary' do
          = t '.download'

.row
  .col
    %nav
      .nav.nav-tabs
        = link_to t('.form_tab'), '#import-form',
          class: 'nav-item nav-link active', data: { toggle: 'tab' }
        = link_to t('.format_tab'), '#import-format',
          class: 'nav-item nav-link', data: { toggle: 'tab' }

.tab-content
  = render 'form'
  = render 'format'
