%nav.row.justify-content-end
  = paginator.render do
    %ul.page-selector.pagination.pagination-sm
      = first_page_tag
      = prev_page_tag
      - each_page do |page|
        - if page.left_outer? || page.right_outer? || page.inside_window?
          = page_tag page
        - elsif !page.was_truncated?
          = gap_tag
      = next_page_tag
      = last_page_tag

  -# Always visible buttons for choosing page size
  %ul.page-size-selector.pagination.pagination-sm
    = page_size_selector
