-# Global navigation bar.
%nav.navbar.navbar-dark.fixed-top.navbar-expand-md
  -# Logo, title and collapse button must be in order
  -# Logo and branding.
  .navbar-brand
    = link_to app_url do
      = brand_tag
    = link_to localized_root_path, class: 'text-light' do
      .d-none.d-md-inline= app_name 

  -# Switch between page specific title and search form.
  %span.title
    .show-search.show-on-resize.w-100.show.collapse.fade
      .navbar-text= page_title
    .show-search.hide-on-resize.w-100.collapse.fade
      = render 'layouts/search', id: 'visible_profile_search'

  -# Button for collapsing the menu on small screens.
  %button.navbar-toggler.navbar-toggler-right{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse
    -# Global search.
    .navbar-nav.justify-content-end.ml-auto
      .d-md-none= render 'layouts/search', id: 'hidden_profile_search'
    .dropdown-divider

    -# Navigation menu.
    .navbar-nav.show-search.show-on-resize.show.collapse.fade
      = render 'layouts/menu'
    .dropdown-divider

    -# Icon menu.
    .navbar-nav
      -# Sign up/Account.
      = render 'devise/menu/registration_link'

      -# Admin panel.
      = render 'layouts/admin_link'

      -# Sign in/out.
      = render 'devise/menu/session_link'

      -# Contact.
      = mail_to contact_email, class: 'nav-item nav-link', title: t('.contact') do
        %span.fa.fa-envelope.fa-fw
        %span.d-md-none= t('.contact')

      -# Show/hide search form.
      = link_to '#', class: 'd-none d-md-inline nav-item nav-link', title: t('.search'),
        data: { target: '.show-search', toggle: 'collapse' }, aria: { expanded: 'false' } do
        %span.fa.fa-search.fa-fw

      -# Link to static documentation.
      - if I18n.exists?('layouts.navbar.help.url', I18n.locale)
        = link_to t('.help.url'), class: 'nav-item nav-link', title: t('.help.title'), target: '_blank' do
          %span.fa.fa-question-circle.fa-fw
