!!! 5
%html{ lang: 'es_AR' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %title= application_title

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = csrf_meta_tags
    = csp_meta_tag
  %body
    = render 'layouts/navbar'

    -# Only the full screen map defines a fixed height for this container
    #main-container.container-fluid{ style: content_for(:main_container_style) }
      #notifications
        - flash.each do |name, msg|
          != "#{name}: #{msg}"

      = yield
