- content_for :page_title do
  = operation.name

.row.button-bar
  .col
    .btn-toolbar
      .btn-group.btn-group-sm
        = link_to t('back'), operations_path, class: 'btn btn-primary'

.row.attributes
  %dl.col
    %dt= t '.info'
    %hr
    %dd
      %dl.row
        %dt.col-sm-4= Operation.human_attribute_name(:state)
        %dd.col-sm-8= operation.state

        - if operation.failed?
          %dt.col-sm-4
          %dd.col-sm-8= operation.error_message

        %dt.col-sm-4= Operation.human_attribute_name(:created_at)
        %dd.col-sm-8= operation.start_time

        %dt.col-sm-4= Operation.human_attribute_name(:profiles)
        %dd.col-sm-8= operation.profile_ids.size

        - if operation.completed? && operation.results.attached?
          %dt.col-sm-4= t('.download')
          %dd.col-sm-8= operation.download_link
